// Define variables for your color scheme

// For example:
$red: #CF4647;
$purple: #A10054;
$blue: #469AE0;
$dark-blue: #001F52;
$yellow: #F5D061;
$beige: #FFECBA;
$orange: #E67E22;
$light-orange: #FF8D68;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
